@model Howfar.BuildCode.Models.Table

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Editor</title>
    <style type="text/css" media="screen">
        body {
            overflow: hidden;
        }

        #editor {
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>

</head>
<body>
    <pre id="editor"><textarea>
using Newtonsoft.Json.Linq;
using Panto.Framework;
using PDRZ.Integration.Entity.@Model.ConfigInfo.ModelFolderName;
using PDRZ.Integration.Entity.TransferData.Base;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace PDRZ.Integration.Dal.School.@Model.ConfigInfo.ModelFolderName
{
    public class @Model.ConfigInfo.EntityName@("Dal")
    {
        /// &ltsummary>
        /// 分页获取数据
        /// &lt/summary>
        /// &ltparam name="param">&lt/param>
        /// &ltparam name="json">&lt/param>
        /// &ltparam name="schoolID">&lt/param>
        /// <returns></returns>
        public List<@Model.ConfigInfo.EntityName> GetPageList(SearchParam param, string json, Guid schoolID)
        {
            JObject jo = JObject.Parse(json);
            string sql = @@"  ";
            @*string SemseterID = "", ClassID = "", StudentNo = "", SpecialtyID = "";
            if (jo["SemseterID"] != null && jo["SemseterID"].ToString() != "")
            {
                sql += " AND Moral_PunishRegister.SemesterID = @SemesterID ";
                SemseterID = jo["SemseterID"].ToString();
            }
            if (jo["ClassID"] != null && jo["ClassID"].ToString() != "")
            {
                sql += " AND b.classID LIKE '%' + @ClassID + '%' ";
                ClassID = jo["ClassID"].ToString();
            }
            if (jo["SpecialtyID"] != null && jo["SpecialtyID"].ToString() != "")
            {
                sql += " AND c.SpecialtyID LIKE '%' + @SpecialtyID + '%' ";
                SpecialtyID = jo["SpecialtyID"].ToString();
            }
            if (jo["StudentNo"] != null && jo["StudentNo"].ToString() != "")
            {
                sql += " AND (a.StudentNO LIKE '%' + @StudentNo + '%' OR a.Name LIKE '%' + @StudentNo + '%') ";
                StudentNo = jo["StudentNo"].ToString();
            }*@
            return SortPageHelper.GetList<@Model.ConfigInfo.EntityName>(sql, new
            {
                SemesterID = SemseterID,
                ClassID = ClassID,
                StudentNo = StudentNo,
                SpecialtyID = SpecialtyID,
                SchoolID = schoolID
            }, param);
        }
    }
}

    </textarea></pre>
    <script src="~/Scripts/ace/ace.js"></script>
    <script src="~/Scripts/ace/ext-language_tools.js"></script>

    <script>
        var editor = ace.edit("editor");
        //设置风格和语言（更多风格和语言，请到github上相应目录查看）
        theme = "xcode"
        language = "csharp"//"csharp"
        editor.setTheme("ace/theme/" + theme);
        editor.session.setMode("ace/mode/" + language);
        ace.require("ace/ext/language_tools");
        //字体大小
        editor.setFontSize(13);

        //设置只读（true时只读，用于展示代码）
        editor.setReadOnly(false);

        //自动换行,设置为off关闭
        editor.setOption("wrap", "free")
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
    </script>
</body>
</html>