@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content")
@Scripts.Render("~/JavaScript")
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<style>
    .form-control {
        padding: 0px;
        font-size: 9px;
        height: 30px;
    }

    #table tr {
        /*height: 45px;*/
    }

    #table td {
        padding: 3px;
    }

    #table th {
        font-size: 6px;
        padding: 3px;
    }

    #list .panel-body {
        padding: 10px;
    }

    .list-group-item {
        min-height: 45px;
        padding: 3px 5px;
    }

    .list-group-item-heading {
        margin-top: 0px;
        font-size: 9px;
    }

    .list-group-item-text {
        margin-bottom: 0px;
    }

    #tbInfo td {
        width: 120px;
    }

    #tbInfo th {
        width: 120px;
        font-size: 11px;
    }

    #tbInfo input {
        width: 140px;
        font-size:10px;
    }

    .vlad {
        font-size: 9px !important;
    }
    /*.tbInfo td {
        width: 120px;
    }
    .tbInfo td {
        width: 120px;
    }*/
    .w30 {
        width: 30px;
    }

    .w40 {
        width: 40px;
    }

    .w60 {
        width: 60px;
    }

    .w80 {
        width: 80px;
    }

    .w90 {
        width: 90px;
    }
</style>
<div class="container-fluid" id="container" style="font-size:9px;height:calc(100% - 10px));">
    <h2>Build</h2>
    <div style="float:right;">
        <table id="tbInfo">
            <thead>
                <tr>
                    <th>TableName</th>
                    <th>TableComment</th>
                    <th>EntityName</th>
                    <th>PageName</th>
                    <th>ModelFolderName</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <input type="text" id="txtTableName"></td>
                    <td> <input type="text" id="txtTableComment"></td>
                    <td> <input type="text" id="txtEntityName" /></td>
                    <td> <input type="text" id="txtPageName"></td>
                    <td> <input type="text" id="txtModelFolderName"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tabs-container" style="height:calc(100% - 65px);">

        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tab-1" aria-expanded="true"> Main</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-2" aria-expanded="false">BuildEntity</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-3" aria-expanded="false">Add Table SQL</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-4" aria-expanded="false">Controller</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-5" aria-expanded="false">BLL</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-6" aria-expanded="false">Edit Html</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-7" aria-expanded="false">Edit JS</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-8" aria-expanded="false">List Html</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-9" aria-expanded="false">List JS</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-10" aria-expanded="false">Dal</a>
            </li>
        </ul>
        <div class="tab-content" id="list" style="height: calc(100% - 35px);">
            <div id="tab-1" class="tab-pane active" style="height:100%;">
                <div class="panel-body" style="height:100%;">
                    <div class="row" style="height:100%;">
                        <div class="col-lg-2" style="height:100%;">
                            <div id="container" style="height:100%;">
                                <div id="wrap" style="height:100%;">
                                    <div class="product-head">
                                        <div id="form"></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="list-group" style="height:calc(100% - 35px);overflow-x:hidden;margin-bottom: 0px;">
                                        <a class="list-group-item" :TableName="data.TableName" v-on:click="getTableInfo(data.TableName,data.Comment,this)" v-for="data in tableList">
                                            <h4 class="list-group-item-heading">{{data.TableName}}</h4>
                                            <span class="badge">{{data.FieldCount}}</span>
                                            <p class="list-group-item-text">{{data.Comment}}</p>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-10" style="height:100%;">
                            <table id="table" class="table" style="font-size:9px;margin-bottom:0px;">
                                <thead>
                                    <tr>
                                        <th class="w40">操作</th>
                                        <th class="w30">
                                            <input id="checkbox0" type="checkbox" class="css-checkbox lrg">
                                            <label for="checkbox0" class="css-label lrg vlad" style="margin-bottom:0px;"></label>
                                        </th>
                                        <th>字段</th>
                                        <th>注释</th>
                                        <th class="w90">类型</th>
                                        <th class="w60">长度</th>
                                        <th class="w40">非空</th>
                                        <th class="w60">默认值</th>
                                        <th width="40%">各项配置</th>
                                    </tr>
                                </thead>
                            </table>

                            <div class="ibox" style="height:calc(100% - 28px);overflow:auto;">
                                <table id="table" class="table" style="font-size:9px;">
                                    <tr v-for="(info,index) in fieldList">
                                        <td class="w40">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true" v-on:click="addRow(index)"></span>
                                            <span class="glyphicon glyphicon-minus" aria-hidden="true" v-on:click="delRow(index)"></span>
                                        </td>
                                        <td class="w30">
                                            <input :id="'ck-1-'+index" type="checkbox" class="css-checkbox lrg" v-model="info.IsCheck">
                                            <label :for="'ck-1-'+index" class="css-label lrg vlad" style="margin-bottom:0px;"></label>
                                        </td>
                                        <td>
                                            <div class="input-group m-b" style="margin-bottom:0px;">
                                                <span class="input-group-addon" style="padding-bottom: 0px;padding-left: 6px;padding-right: 2px;padding-top: 0px;">
                                                    <input type="checkbox" class="css-checkbox lrg" :id="'ck-9-'+index" v-model="info.IsDataColumn">
                                                    <label :for="'ck-9-'+index" class="css-label lrg vlad" style="margin-bottom:0px;"></label>
                                                </span>
                                                <input type="text" class="form-control" v-model="info.ColumnName">
                                            </div>
                                        </td>
                                        <td><input type="text" class="form-control" v-model="info.Comment"></td>
                                        <td class="w90"><input type="text" class="form-control SelectType" v-model="info.TypeName"></td>
                                        <td class="w60"><input type="text" class="form-control form-control-sm" v-model="info.MaxLength"></td>
                                        <td class="w40">
                                            <input :id="'ck-2-'+index" type="checkbox" class="css-checkbox lrg" v-model="info.NotNUll">
                                            <label :for="'ck-2-'+index" class="css-label lrg vlad" style="margin-bottom:0px;"></label>
                                        </td>
                                        <td class="w60"><input type="text" class="form-control" Value="默认值"></td>
                                        <td width="40%">
                                            <input :id="'ck-3-'+index" type="checkbox" class="css-checkbox lrg" v-model="info.IsValidate">
                                            <label :for="'ck-3-'+index" class="css-label lrg vlad" style="margin-bottom:0px;">表单验证</label>
                                            @*<div class="checkbox checkbox-success checkbox-inline">
                                                <input :id="'ck-4-'+index" type="checkbox" v-model="info.NotNUll">
                                                <label :for="'ck-4-'+index"></label>
                                            </div>
                                            <div class="checkbox checkbox-success checkbox-inline">
                                                <input :id="'ck-5-'+index" type="checkbox" v-model="info.NotNUll">
                                                <label :for="'ck-5-'+index"></label>
                                            </div>*@
                                            <input :id="'ck-6-'+index" type="checkbox" class="css-checkbox lrg" v-model="info.IsShow">
                                            <label :for="'ck-6-'+index" class="css-label lrg vlad" style="margin-bottom:0px;">列表展示</label>
                                            <input :id="'ck-7-'+index" type="checkbox" class="css-checkbox lrg" v-model="info.IsCondition">
                                            <label :for="'ck-7-'+index" class="css-label lrg vlad" style="margin-bottom:0px;">搜索条件</label>
                                            @*<div class="checkbox checkbox-success checkbox-inline">
                                                <input :id="'ck-8-'+index" type="checkbox" v-model="info.NotNUll">
                                                <label :for="'ck-8-'+index"></label>
                                            </div>*@
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane" style="height:100%;">
                <div class="panel-body" style="height:100%;">
                    <button class="btn-success" onclick="setData('BuildEntity');" id="btnBuildEntity">Build Code</button>
                    <iframe id="iframeBuildEntity" style="width:100%;height:100%;border:none;"></iframe>
                </div>
            </div>
            <div id="tab-3" class="tab-pane" style="height:100%;">
                <div class="panel-body" style="height:100%;">
                    <button class="btn-success" onclick="setData('CreateTable');" id="btnCreateTable">CreateTable</button>
                    <iframe id="iframeCreateTable" style="width:100%;height:100%;border:none;"></iframe>
                </div>
            </div>
            <div id="tab-4" class="tab-pane" style="height:100%;">
                <div class="panel-body" style="height:100%;">
                    <button class="btn-success" onclick="setData('BuildController');">BuildController</button>
                    <iframe id="iframeBuildController" style="width:100%;height:100%;border:none;"></iframe>
                </div>
            </div>
            <div id="tab-5" class="tab-pane" style="height:100%;">
                <div class="panel-body" style="height:100%;">
                    <button class="btn-success" onclick="setData('BuildBLL');">BuildBLL</button>
                    <iframe id="iframeBuildBLL" style="width:100%;height:100%;border:none;"></iframe>
                </div>
            </div>
            <div id="tab-6" class="tab-pane" style="height:100%;">
                <div class="panel-body" style="height:100%;">
                    <button class="btn-success" onclick="setData('BuildEditHTML');" id="btnBuildEditHTML">Build Code</button>
                    <iframe id="iframeBuildEditHTML" style="width:100%;height:calc(100% - 20px);border:none;"></iframe>
                </div>
            </div>
            <div id="tab-7" class="tab-pane" style="height:100%;">
                @*edit js*@
            </div>
            <div id="tab-8" class="tab-pane" style="height:100%;">
                <div class="panel-body" style="height:100%;">
                    <button class="btn-success" onclick="setData('BuildListHtml');">Build Code</button>
                    <iframe id="iframeBuildListHtml" style="width:100%;height:100%;border:none;"></iframe>
                </div>
                @*List HTML*@
            </div>
            <div id="tab-9" class="tab-pane" style="height:100%;">
                <div class="panel-body" style="height:100%;">
                    <button class="btn-success" onclick="setData('BuildListJS');" id="btnBuildListJS">Build Code</button>
                    <iframe id="iframeBuildListJS" style="width:100%;height:100%;border:none;"></iframe>
                </div>
            </div>
            <div id="tab-10" class="tab-pane" style="height:100%;">
                <div class="panel-body" style="height:100%;">
                    <button class="btn-success" onclick="setData('BuildDal');">Build Code</button>
                    <iframe id="iframeBuildDal" style="width:100%;height:100%;border:none;"></iframe>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        var height = document.documentElement.clientHeight;
        document.getElementsByTagName('body')[0].style.height = height;
        $('#container').height(height - 10);
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "20",
            "timeOut": "5000",
            "extendedTimeOut": "20",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    });

    window.onresize = function () {
        var height = document.documentElement.clientHeight;
        document.getElementsByTagName('body')[0].style.height = height;

    }

</script>