<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="PDRZ_Integration" connectionString="server=192.168.0.201,56566;database=PDRZ_Integration;uid=sa;pwd=1qaz@WSX" />-->
  <!-- <add name="PDRZ_Integration" connectionString="server=.;database=PantoOA;uid=sa;pwd=123456" /> -->
  <!-- <add name="PDRZ_Integration" connectionString="server=192.168.0.201;database=PDRZ_IntegrationTest;uid=sa;pwd=1qaz@WSX" /> -->
  <add name="PDRZ_Integration" connectionString="server=192.168.0.201,56566;database=PDRZ_IntegrationLszy;uid=sa;pwd=1qaz@WSX" />
</connectionStrings>