body
{width:100%;
padding:0;
margin:0;
background:url(imgs/bg.jpg);
font-family:"Arial",Arial,Helvetica,sans-serif;
}
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
@font-face {
				font-family: 'bebas';
				src: url('fonts/bebasneue.eot');
				src: url('fonts/bebasneue.eot?#iefix') format('embedded-opentype'),
						 url('fonts/bebasneue.woff') format('woff'),
						 url('fonts/bebasneue.ttf') format('truetype'),
						 url('fonts/bebasneue.svg#bebasneue') format('svg');
				font-weight: normal;
				font-style: normal;
		}

h1{margin:0; padding:0; font-weight:normal; font-family:bebas; background:#222; padding:4px 6px 3px 6px; color:#fff; font-size:30px;}

h2{margin:0; padding:0; font-weight:normal; font-family:bebas;}

h2.subtext, p.subtext{font-family:"Arial",Arial,Helvetica,sans-serif; font-size:11px; font-weight:bold; padding:0px 5px 10px 5px; background:#222; color:#fff;}
input[type=text] {

	-moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
.content > p {
	background:#f5f5f5;
	padding:15px;
	margin:0;
	line-height:1.5em;
	font-size:14px;
}

.content p a:link {
	color:teal;
}
.content p a:visited {
	color:teal;
}
.content p a:hover {
	color:#19c5b2;
}
.content p a:active {
	color:teal;
}


h3{margin:0; padding:0; font-weight:normal; font-family:bebas;}
table td{padding:3px 5px;}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.container {
	margin:0 auto;
	background:#333;
}

.hidden{display:none;}
.unhidden{display:block;}

.header {
	padding:0px 0px 0px 0px;
	background:#f0f0f0;
}

.header-right {
float:right;
text-align:right;
}

.header-right h1 {margin-bottom:6px;}

.logo{
float:left;
	display:block;
	border:0;
	text-decoration:none;
	height:90px;
	margin:25px;
}
.logo.squished {
	margin:25px 0px;
}
.logo img{border:0;}

.header.small h1 {
	background:transparent;
	color:#999;
	font-size:20px;
}


.innerBannerAd {
background:#f5f5f5;
	padding:20px 0px 20px 0px;
}
.holdThePadding .innerBannerAd { 
	padding-bottom:0;
}
.header.small .logo img {
	max-height:100px;
	margin:10px 10px;
}
.header.small .logo {
	margin:0;
	height:auto;
}
.header.small table {
	width:100%;
	}
.header.small table > tbody > tr > td {
	padding:0 3px;
}
.header.small table > tbody > tr > td:first-of-type {
	text-align:left;
}

.sidebar {
	background:#333;
	padding-left:4px;
}

.sidebar .browserIcons img{width:53px; padding-bottom:10px; text-align:center;}
.sidebar .browserIcons {
	text-align:center;
}
.sidebar .browserIcons img {
	display:Inline-block;
}
.sidebar p{
	color:#fafafa;
	font-size:12px;
	padding-left:10px;
	margin-top:7px;
}

.content {
	background:#333;
}

input[type=checkbox].css-checkbox {
      position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
    height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {

    background-position: 0 -15px;
}

input[type=checkbox].css-checkbox.med + label.css-label.med {
	padding-left:22px;
    height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
	padding-left:22px;
    height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -16px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	padding-left:22px;
    height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}

.lite-green-check{background-image:url(checkboxes/lite-green-check.png);}
.lite-blue-check{background-image:url(checkboxes/lite-blue-check.png);}
.lite-gray-check{background-image:url(checkboxes/lite-gray-check.png);}
.lite-cyan-check{background-image:url(checkboxes/lite-cyan-check.png);}
.lite-orange-check{background-image:url(checkboxes/lite-orange-check.png);}
.lite-red-check{background-image:url(checkboxes/lite-red-check.png);}

.lite-x-cyan{background-image:url(checkboxes/lite-x-cyan.png);}
.lite-x-gray{background-image:url(checkboxes/lite-x-gray.png);}
.lite-x-blue{background-image:url(checkboxes/lite-x-blue.png);}
.lite-x-orange{background-image:url(checkboxes/lite-x-orange.png);}
.lite-x-red{background-image:url(checkboxes/lite-x-red.png);}
.lite-x-green{background-image:url(checkboxes/lite-x-green.png);}

.mac-style{background-image:url(checkboxes/mac-style.png);}
.mario-style{background-image:url(checkboxes/mario-style.png);}
.alert-style{background-image:url(checkboxes/alert-style.png);}
.lite-plus{background-image:url(checkboxes/lite-plus.png);}
.dark-plus{background-image:url(checkboxes/dark-plus.png);}
.dark-plus-cyan{background-image:url(checkboxes/dark-plus-cyan.png);}
.dark-plus-orange{background-image:url(checkboxes/dark-plus-orange.png);}
.dark-check-cyan{background-image:url(checkboxes/dark-check-cyan.png);}
.dark-check-green{background-image:url(checkboxes/dark-check-green.png);}
.dark-check-orange{background-image:url(checkboxes/dark-check-orange.png);}

.depressed-lite-small{background-image:url(checkboxes/depressed-lite-small.png);}
.elegant{background-image:url(checkboxes/elegant.png);}
.depressed{background-image:url(checkboxes/depressed.png);}
.chrome-style{background-image:url(checkboxes/chrome-style.png);}
.web-two-style{background-image:url(checkboxes/web-two-style.png);}
.vlad{background-image:url(checkboxes/vlad.png);}
.klaus{background-image:url(checkboxes/klaus.png);}

/*page css*/
.generator{width:100%; background:#e5e5e5;}
.generator .selector{width:266px; float:left; padding-left:5px; background:#e5e5e5; padding:10px 0px 10px 10px;}
.selector h2{padding-left:2px;}
.generator .preview{width:384px; float:left; background:#e5e5e5; padding:10px 0px 12px 10px;}
.generator .code-area{ clear:both; background:#f5f5f5; padding:10px 10px;}

.generator .code-area .panel{width:48%; float:left; padding:0px 6px;}
.generator .code-area .panel textarea{width:95%;}

.code-area h3{padding:8px 0px 4px 0px;}

.generator .break{width:620px; border-bottom:1px solid #999; margin:0 auto; padding-top:10px; margin-bottom:15px; clear:both;}
.preview table{padding-top:3px; padding-bottom:2px; background:#fafafa; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; border:1px solid #d8d8d8; margin-top:2px;}
.preview table td{padding:1px 20px 3px 5px;}

.fake-dropdown{
padding:0;
margin:0;
margin-top:3px;
border-radius:4px; 
-webkit-border-radius:4px; 
-moz-border-radius:4px; 
border:1px solid #d8d8d8;
background:#fafafa;
background-image:url(imgs/dropdown.png);
background-position:right center;
background-repeat:no-repeat;
width:245px;
overflow:hidden;
}
.fake-dropdown select{
background-color:transparent;
-webkit-appearance: none;
border:0;
font-size:14px; 
margin:0;
padding:5px 5px 4px 5px;
width:280px;
}
.fake-dropdown select:focus{border:0; outline:none;}

.code-area textarea{padding:3px 5px 13px 5px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; border-color:#efefef;
 height:380px; white-space:pre-line; margin-bottom:8px;
font-family:"Arial",Arial,Helvetica,sans-serif; font-size:11px;
}

.cb-styles{width:100%; background:#d6f6f2;}
.cb-styles table{width:25%; float:left; border-collapse:collapse; padding-bottom:10px;}
.cb-styles table td, th{padding:0px 6px 10px 6px;}
.cb-styles table.lite-1 td, .cb-styles table.lite-1 th{background:#f5f5f5;}
.cb-styles table.lite-2 td,.cb-styles table.lite-2 th{background:#f0f0f0;}
.cb-styles table.funky td,.cb-styles table.funky th{background:#d6f6f2;}
.cb-styles table.dark-1 td,.cb-styles table.dark-1 th{background:#999;}

.cb-styles table th{font-family:bebas; font-size:20px; color:#111; text-align:left; padding-left:7px; padding-top:5px; padding-bottom:2px;}

.cb-styles table.wide{width:100%;}


a.btn{
	float:right;
	display:block;
	padding:3px 5px 1px 5px;
	font-family:bebas;
	text-decoration:none;
	color:#fff;
	border:0;
	background:#19c5b2;
}

a.btn:hover{background:#149486;}

.gen-controls{
	clear:both;
	background:#e5e5e5;
	padding:10px 10px;
}



.gen-controls .btn{
	font-size:30px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
.suggestion .btn{
	font-size:18px;
	float:left;
}

.preview .btn{
	font-size:20px;
	line-height:19px;
	margin-right:10px;
	margin-top:1px;
}

.code-area .btn{
	font-size:18px;
	line-height:16px;
	margin-right:6px;
	margin-top:8px;
}

.sidebar .btn {
	font-size:36px;
	float:none;
	text-align:center;
	width:230px;
	margin:0 auto;
	}
	
.suggestion { 
	background:#efefef; height:80px;
}

.suggestion h3 {
margin:0; padding:0; font-size:24px;
}

.suggestion table td {
}

.suggestion input[type=text] {

	width:100%;

}

.ticker-text {
	float:right;
	font-size:12px;
	padding-right:5px;
}
.ticker-text .new {
	font-weight:bold;
	color:orange;
	text-shadow:1px 1px 1px #ccc;
}

.ticker-text a {
	font-weight:bold;
	color:#007e7a !important;
}

.navigation {
	background:#19c5b2;
	font-family:bebas;
}

.navigation a{
	font-family:bebas;
	font-size:26px;
	color:white;
	background:#19c5b2;
	padding:10px 18px;
	display:inline-block;
	text-decoration:none; 
	text-shadow:#555 1px 1px 2px;
}

.navigation a:link, .navigation a:visited {
	background:#19c5b2;
}
.navigation a:hover, .navigation a:active {
	background:#149486;
}

.navigation .search, .header.small .search {
	font-family:bebas;
	font-size:12px;
	vertical-align:middle;
	padding:10px 10px;
	margin-top:3px;
}	

.header.small .search  {
	background:#bcbcbc;
	border-radius:7px;
	padding:3px 4px;
}

.navigation .search input, .header.small .search input {
	display:inline-block;
	font-family:bebas;
	vertical-align:middle; -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

.navigation .search input[type=text],
.header.small .search input[type=text] {
	padding: 3px 5px;
	border:#999;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	color:#999; 
	-moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
.header.small .search input[type=text] {

}
.navigation .search input[type=submit],
.header.small .search input[type=submit] {
	width:24px;
	height:24px;
	background:transparent;
	border:0;
	background-image:url(imgs/search.png);
	background-repeat:no-repeat;
	margin-left:2px;
	cursor:pointer;
}

.singleDlUi {
	background:#444;
	text-align:center;
	font-size:12px;
	color:#fff;
	padding:20px 0px;
}
.singleDlUi table {
	width:400px;
	margin:0 auto;
	background:#555;
	margin-top:5px;
}
.singleDlUi a {
	display:inline-block;
	background: #19c5b2;
	color:#fff;
	color:white;
	font-family:bebas;
	border:0;
	padding:15px 20px;
	font-size:36px;
	cursor:pointer;
	text-decoration:none;
	margin:0 10px;
}
.singleDlUi a:hover {
	background:#13998b;
}

.singleDlUi a span {
	font-size:12px;
	font-family:sans-serif;
}

.sidebarAd {
	height:280px;
	margin:10px auto;
}

.smallbannerAd {
	display:inline-block;
	text-align:center;
	padding:30px 0px;
}

.special {
	margin:10px 0;
}
.special td {
	padding:0;
	vertical-align:middle;
}
.spritePreview, .special a {
	display:inline-block;
	vertical-align:middle;
	font-size:14px;
}
.special td.img {
	text-align:right;
}

.special a:link, .special a:visited,
.subtext a:link, .subtext a:visited {
	color:#111;
	text-decoration:none;
	border:0;
}
.special a:hover, .special a:active,
.subtext a:link, .subtext a:visited {
	color:teal;
	text-decoration:none;
}

#inputPreview {
	background:#f0f0f0;
	padding:20px;
	text-align:center;
}
#inputPreview input:focus {
outline: 0;
}
#inputControls > table,
#inputControls > form > table {
	border-color:#efefef;
	margin:10px auto 10px auto;
	border-collapse:collapse;
}
#inputControls > form > table > tbody > tr > td,
#inputControls > table > tbody > tr > td{
	background:#efefef;
	border-color:#efefef;
	padding:10px;
	width:190px;
}
#inputControls > form > table.two > tbody > tr > td {
	width:25%;
}
#inputControls > form > table.two > tbody > tr > td:first-of-type {
	width:75%;
}

#inputControls .slider,
#inputControls select {
	width:180px;
	vertical-align:middle;
}

#inputControls h2 span {
	padding-left:15px;
	font-family:sans-serif;
	font-size:14px;
	background:#fff;
	padding:3px 4px;
	border:1px solid #ccc;
	margin-left:10px;
	vertical-align:middle;
}


.colorSelector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/select.png);
}
.colorSelector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}
.colorSelector2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	background: url(../images/select2.png);
}
.colorSelector2 div {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url(../images/select2.png) center;
}
.colorpickerHolder2 {
	top: 32px;
	left: 0;
	width: 356px;
	height: 0;
	overflow: hidden;
	position: absolute;
}
.colorpickerHolder2 .colorpicker {
	background-image: url(../images/custom_background.png);
	position: absolute;
	bottom: 0;
	left: 0;
}
.colorpickerHolder2 .colorpicker_hue div {
	background-image: url(../images/custom_indic.gif);
}
.colorpickerHolder2 .colorpicker_hex {
	background-image: url(../images/custom_hex.png);
}
.colorpickerHolder2 .colorpicker_rgb_r {
	background-image: url(../images/custom_rgb_r.png);
}
.colorpickerHolder2 .colorpicker_rgb_g {
	background-image: url(../images/custom_rgb_g.png);
}
.colorpickerHolder2 .colorpicker_rgb_b {
	background-image: url(../images/custom_rgb_b.png);
}
.colorpickerHolder2 .colorpicker_hsb_s {
	background-image: url(../images/custom_hsb_s.png);
	display: none;
}
.colorpickerHolder2 .colorpicker_hsb_h {
	background-image: url(../images/custom_hsb_h.png);
	display: none;
}
.colorpickerHolder2 .colorpicker_hsb_b {
	background-image: url(../images/custom_hsb_b.png);
	display: none;
}
.colorpickerHolder2 .colorpicker_submit {
	background-image: url(../images/custom_submit.png);
}
.colorpickerHolder2 .colorpicker input {
	color: #778398;
}
.customWidget {
	position: absolute;
	height: 36px;
	margin-top:-20px;
}

.footerlinks {
	padding:25px 0;
	margin-top:23px;
}

.footerlinks a:link,
.footerlinks a:visited {
	color:#efefef;
}
.footerlinks a:hover,
.footerlinks a:active {
	color:teal;
}

#blogarea a:link,
#blogarea a:visited,
#pagination a:link,
#pagination a:visited {
	color:#19c5b2;
}
#blogarea a:hover,
#blogarea a:active,
#pagination a:hover,
#pagination a:active {
	color:teal;
}

a.readmore {
	float:right;
	padding-left:10px;
}


/*blog page stuff*/
#clearit, .clearit { clear:both; }

#blogarea.hp {
	margin-right:0;
	padding-right:0;
	background:#f8f8f8;
}

#blogcategories{width:240px; float:left; margin-top:10px;}
#blogcategories h1{text-align:left; margin-bottom:10px;}
#blogcategories li{list-style-type:none; margin-bottom:8px;}


#blogarea #folio-row {
	padding-bottom:15px;
	border-bottom:1px solid #555;
}

#blogarea.hp #folio-row {
	padding-top:15px;
	padding-left:15px;
}

#blogarea p{white-space:pre-wrap; clear:left; padding-left:10px; color:#fefefe;}
#blogarea h2{padding-bottom:0px;}
#blogarea h2 a {
	display:block;
	padding-top:5px;
}
#blogarea h2 a:link{text-decoration:none; color:#efefef;}
#blogarea h2 a:visited{text-decoration:none; color:#efefef;}
#blogarea h2 a:hover{text-decoration:none; color:#19c5b2;}
#blogarea h2 a:active{text-decoration:none; color:#efefef;}
#blogarea.hp h2 a:link{text-decoration:none; color:#333;}
#blogarea.hp h2 a:visited{text-decoration:none; color:#333;}
#blogarea.hp h2 a:hover{text-decoration:none; color:#19c5b2;}
#blogarea.hp h2 a:active{text-decoration:none; color:#333;}

#blogarea h3{font-weight:normal; font-size:16px; margin:0; padding:0; font-family:Bebas;  color:#999; padding-bottom:2px;}
#blogarea h3 li{list-style-type:none; margin-right:9px; display:inline;}

#blogarea h3.categories{border:none;}

#blogarea img.leader{max-width:180px; float:right; margin-left:10px; margin-bottom:5px; margin-top:10px; border:2px solid #555; background:#fff;}
#blogarea img {
	max-width:700px;
}
#blogarea .readmore{margin:0; padding:0;}

#cal-icon{background-image:url(http://missionbaymedia.com/imgs/cal-icon.png); width:50px; height:50px; float:left; margin-top:3px;}
#cal-icon #weekday{font-size:13px; font-family:Bebas; text-align:center; width:50px; margin-top:4px; text-transform:uppercase;}
#cal-icon #numday{font-size:28px; text-align:center; width:46px; margin-top:-2px; letter-spacing:-2px; font-family:Bebas; color:#333;}

#pagination{padding:15px 10px 0px 10px; font-family:Sans-Serif; color:#999;max-width:720px;}
#pagination #status{float:right;}

#pagination li{list-style-type:none; display:inline; padding:0px 5px; }


/*latest text input widget*/

td.textPreview input[type=text] {
	width:95%;
	outline:none;
}

.textboxtable a {
	color:white;
	font-size:20px;
}

.textboxtable td {
	vertical-align:middle !important;
	padding:15px 6px !important;
}

.cb-styles table.lite-2 tr.odd td, .cb-styles table.lite-2 tr.odd th {
	background:#fafafa;
}

/*social sharing buttons*/
.social {
	vertical-align:top;
}
.social span {
	display:inline-block;
	vertical-align:top;
	text-align:right;
}

/*generator box on generator page*/
.generatorBox {
color:white; margin:0 auto; background:#444; }
.fixed_preview {
	
}

/*MEDIA QUERIES BEGIN HERE*/
@media screen and (min-width: 1074px) {
.container {
	width:1074px;
	-webkit-box-shadow: 0px 0px 13px rgba(50, 50, 50, 0.95);
	-moz-box-shadow:    0px 0px 13px rgba(50, 50, 50, 0.95);
	box-shadow:         0px 0px 13px rgba(50, 50, 50, 0.95);
	}	
	.content {
	width:730px;
	float:left;
	}
	.sidebar {
	width:340px;
	float:left;
	}
}
@media screen and (max-width: 1073px) { 
	.content {
		margin:0 auto;
	}
	.sidebar {
		width:100%;
		margin:0 auto;
	}
}
@media screen and (min-width:768px) {
	.header.small table > tbody > tr > td {
		width:50%;
		text-align:right;
		}
		.logo {
		width:168px;
		}
	.header.small {
		height:115px;
	}
	.search {
		float:right;	
		display:inline-block;

	}
	.search input[type=text] { 
		width:320px;	font-size:28px;
	}
	.sidebarAd {
	width:336px;
	}
	#blogarea {
	border-right:1px solid #333;
	}
	.generatorBox {
		width:400px; 
		padding:15px; 
	}
	.fixed_preview {
	position:fixed; top:0; box-shadow:10px 10px 10px rgba(42,42,42,.95); width:730px; z-index:9999999;
	}
	#inputPreview {
	width:690px;
	}
	
	#blogarea{width:650px; float:left; margin-right:20px;  margin-top:10px; padding-right:30px;}
	#blogarea.hp {
	width:100%;
	}
}
@media screen and (max-width: 767px) {
.content, .sidebar {
	float:none;
	display:block;
	width:auto;
}
	.header.small table,
	.header.small table > tbody,
	.header.small table > tbody > tr {
		display:block;
	}
	.header.small table > tbody > tr > td {
		display:block;
		width:auto;
		text-align:center;
	}
	.logo {
	width:100%;
	text-align:center;
	}
	.header.small {
		width:auto;
	}
	.header .search {
		float:none;
		display:inline-block;
		margin-bottom:10px;
		padding:0;
		overflow:hidden;
	}
	.search input {
		vertical-align:middle;
	}
	.search input[type="text"] {
		-moz-box-sizing:    border-box;
		-webkit-box-sizing: border-box;
		box-sizing:        border-box;
		font-size:28px;
		width:220px;
		vertical-align:middle;
	}
	span.search_text {
		display:inline-block;
		overflow:hidden;
	}
	.cb-styles > table.wide.special > tbody > tr > td {
		width:80%;
		display:inline-block;
		padding:10px 6px 10px 6px;
	}
	.cb-styles > table.wide.special > tbody > tr > td.img {
		width:10%;
	}
	.cb-styles > table.normal {
		width:50%;
	}
	.cb-styles > table.normal > tbody > tr.spacer {
		display:none;
	}
	.sidebarAd {
		width:100%;
	}
	#blogarea {
		border-right:0;
	}
	.generatorBox {
		width:auto;
		padding:0;
	}
	.generatorBox > p {
		padding:10px;
	}
	.generatorBox > table {
		border-spacing:0;
	}
	.downloadsPage table > tbody > tr > td {
		padding:10px 0px;
		display:inline-block;
		width:100%;
	}
	.fixed_preview {
		overflow:hidden;
	}
	#inputPreview {
		width:auto;
	}
	#inputControls > table > tbody > tr > td {
		width:98%;
		padding:10px 1%;
		display:inline-block;
	}
	
	#blogarea{width:auto; float:none; margin:0; padding:10px;}
	#blogarea.hp {
	width:auto;
	}
	#cal-icon {
		margin-bottom:15px;
		margin-top:7px;
	}
	#blogarea p img {
		max-width:95%;
	}
}

